
div.input-field span {
    
    border-radius: 3px;
    color: white;
    font-weight: bold;
    background-color: #78909c;
    font-size: 16px;
    
}

nav ul li:hover {
   background-color: white;
}

nav .brand-logo {
    
    transition: all 0.5s ease;
    font-family: 'Lobster', cursive;
    font-size: 2.8rem;
    
}

nav .brand-logo:hover {
    color: #b0bec5;
}

ul#dropdown1 li a {
    
    color: black;
    font-weight: bold;
    
}